{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Name site{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'member/style.css' %}" />
        <script type="application/javascript" src="{% static 'member/jquery-1.11.3.min.js' %}"></script>
        <script type="application/javascript" src="{% static 'member/script.js' %}"></script>
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}
            [ <a href="/">Home</a> | 
              <a href="{% url 'member_api' %}?token={{ token }}" target="_blank">API</a> | 
              {% if user.is_anonymous %}
                  <a href="{% url 'django.contrib.auth.views.login' %}?next=/">login</a>
              {% else %}
                  '{{ user }}' - <a href="{% url 'django.contrib.auth.views.logout' %}?next=/">logout</a>
              {% endif %}
            ]<br /> {{ user.tokens.key }}
            {% endblock %}
        </div>
        <div id="content">
            {% block content %} {% endblock %}

            <div class="formblock">
             <h1>Get API</h1>
             <form method="POST" action="/member/api-token-auth/">
                {% csrf_token %}
                <input type="text" name="username" value="admin" />
                <input type="text" name="password" value="admin" />
                <input type="submit" name="API Validate" value="Get Token" />
            </form>
        </div>
        </div>
    </body>
</html>